/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #4facfe;
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  /* Logo container */
  .navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  
  }
  
  .navbar-logo .logo {
    height: 40px; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
    border-radius: 100%;
  }
  
  /* Links styling */
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    font-size: 1rem;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-links a:hover {
    background-color: #007bff;
  }
  